{{#extend "content"}}
  <div class="container mt-5">
    <h2>Transactions List</h2>
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>ID</th>
        <th>Date</th>
        <th>PL Account</th>
        <th>Amount</th>
        <th>Description</th>
        <th>Counterparty</th>
      </tr>
      </thead>
      <tbody>
      {{#each transactions}}
        <tr>
          <td>{{this.id}}</td>
          <td>{{this.date}}</td>
          <td>{{this.plAccount}}</td>
          <td>${{this.amount}}</td> <!-- Format amount as currency -->
          <td>{{this.description}}</td>
          <td>{{this.counterparty}}</td>
        </tr>
      {{/each}}
      </tbody>
    </table>
    <nav>
      <ul class="pagination">
        {{#if (gt totalPages 1)}}
          {{#if (gt page 1)}}
            <li class="page-item">
              <a class="page-link" href="?page={{dec page}}&size={{size}}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
          {{/if}}

          {{#each pagination}}
            {{#if (eq this '...')}}
              <li class="page-item disabled"><a class="page-link" href="#">{{this}}</a></li>
            {{else}}
              <li class="page-item {{#if (eq this ../page)}}active{{/if}}">
                <a class="page-link" href="?page={{this}}&size={{../size}}">{{this}}</a>
              </li>
            {{/if}}
          {{/each}}

          {{#if (lt page totalPages)}}
            <li class="page-item">
              <a class="page-link" href="?page={{inc page}}&size={{size}}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          {{/if}}
        {{/if}}
      </ul>
    </nav>
  </div>
{{/extend}}
